@font-face {
  font-family: 'ameba';
  src:  url('fonts/ameba.eot%3F6n3avr');
  src:  url('fonts/ameba.eot%3F6n3avr') format('embedded-opentype'),
    url('fonts/ameba.ttf%3F6n3avr') format('truetype'),
    url('fonts/ameba.woff%3F6n3avr') format('woff'),
    url('fonts/ameba.svg%3F6n3avr') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ameba' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scroll:before {
  content: "\e909";
}
.icon-hamburger:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-out:before {
  content: "\e90b";
}
.icon-sailing-boat-water:before {
  content: "\ea8c";
}
.icon-development:before {
  content: "\e906";
}
.icon-target-arrow:before {
  content: "\ea86";
}
.icon-ux-ui:before {
  content: "\e907";
}
.icon-wind:before {
  content: "\eaee";
}
.icon-mail-envelope:before {
  content: "\e908";
}
.icon-mail-envelope-open:before {
  content: "\e90a";
}
.icon-mail-envelope-closed3:before {
  content: "\e912";
}
.icon-flag3:before {
  content: "\e924";
}
.icon-bookmark:before {
  content: "\e92a";
}
.icon-key3:before {
  content: "\e938";
}
.icon-trash-can3:before {
  content: "\e93c";
}
.icon-information:before {
  content: "\e93e";
}
.icon-information3:before {
  content: "\e940";
}
.icon-book:before {
  content: "\e942";
}
.icon-book-bookmark:before {
  content: "\e944";
}
.icon-clipboard-text:before {
  content: "\e954";
}
.icon-clipboard-list:before {
  content: "\e956";
}
.icon-note:before {
  content: "\e958";
}
.icon-note-text:before {
  content: "\e95e";
}
.icon-note-list:before {
  content: "\e960";
}
.icon-search:before {
  content: "\e9e2";
}
.icon-search2:before {
  content: "\e9e3";
}
.icon-search-plus:before {
  content: "\e9e4";
}
.icon-search-plus2:before {
  content: "\e9e5";
}
.icon-search-minus:before {
  content: "\e9e6";
}
.icon-search-minus2:before {
  content: "\e9e7";
}
.icon-lock:before {
  content: "\e9e8";
}
.icon-lock-open:before {
  content: "\e9ea";
}
.icon-lock-open3:before {
  content: "\e9ec";
}
.icon-lock-stripes:before {
  content: "\e9ee";
}
.icon-lock-rounded:before {
  content: "\e9f0";
}
.icon-lock-rounded-open:before {
  content: "\e9f2";
}
.icon-lock-rounded-open3:before {
  content: "\e9f4";
}
.icon-combination-lock:before {
  content: "\e9f6";
}
.icon-cloud-download:before {
  content: "\ea06";
}
.icon-cloud-upload:before {
  content: "\ea08";
}
.icon-cloud:before {
  content: "\ea0c";
}
.icon-inbox-filled:before {
  content: "\ea0e";
}
.icon-pen:before {
  content: "\ea10";
}
.icon-pen-angled:before {
  content: "\ea12";
}
.icon-tag:before {
  content: "\ea28";
}
.icon-tags:before {
  content: "\ea2a";
}
.icon-paperclip:before {
  content: "\ea34";
}
.icon-trophy:before {
  content: "\ea4e";
}
.icon-stop-watch:before {
  content: "\ea62";
}
.icon-stop-watch3:before {
  content: "\ea64";
}
.icon-moon-stars:before {
  content: "\eace";
}
.icon-moon-stars2:before {
  content: "\eacf";
}
.icon-sun:before {
  content: "\ead2";
}
.icon-sunset3:before {
  content: "\ead8";
}
.icon-umbrella:before {
  content: "\eade";
}
.icon-raindrops:before {
  content: "\eae0";
}
.icon-raindrop:before {
  content: "\eae2";
}
.icon-full-moon:before {
  content: "\eaf0";
}

